
Install using pip:
openpyxl==2.4.7
Unidecode==1.0.22
numpy==1.12.1
matplotlib==2.0.2
h5py==2.7.0
Keras==2.0.6
Theano==0.9.0
future==0.16.0
pydub==0.20.0


install  cudatoolkit 8.0:https://developer.download.nvidia.com/compute/cuda/8.0/secure/Prod2/local_installers/cuda_8.0.61_win10.exe?hre1v2_IG05bPQAaBfsazg-Z2jvfsjFtgUg2ojkewMtQ0plufkP2ArCacyZnmasVbX89Xj6iQoIq3MgnGHpfP_jPCucjFdF0oCDiCmmAw0bmcqZ-9ZhnFPz9vQsfAbjRg90zRJfiHWCUjzpeQJBmohtx8bUicvFnke5w4jszI0b6Xm8

install using conda:
tensorflow-gpu=1.4.0: conda install -c cjj3779 tensorflow-gpu
scipy : conda install -c msft-sqlserver-example scipy
librosa:conda install -c conda-forge librosa
PyYAML==3.12 : conda install -c conda-forge pyyaml




no windows 10:
altere a linha 175 do arquivo keras\utils\generic_utils.py  no anaconda3 o diretorio: C:\Users\you-user\Anaconda3\Lib\site-packages\keras\utils\generic_utils.py
de : code = marshal.dumps(func.__code__).decode('raw_unicode_escape')
para: code = marshal.dumps(func.__code__).replace(b'\\',b'/').decode('raw_unicode_escape')
